*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

footer{
    text-align: center;
    padding: 10px;
}

.container{
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    background-color: #c15106;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h1{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}



#group-btn{
    display: flex;
    width: 100%;
    border-radius: 15px;
    
    
}

#group-btn > button > img{
    width: 100%;
    border-radius: 15px;
    
}

#result{
    text-align: center;
}

#result img{
    width: 20%;
}

#start-text{
    font-size: 26px;
    padding: 20px;
}

